
<link rel="import" href="./contact-card.html" />
<link rel="import" href="./content-box.html" />

<template>
    <div ref:container></div>

    <contact-card>
        <span slot="name">
            {user.name}
        </span>

        <span slot="address">
		    {user.address}
	    </span>
    </contact-card>

    <content-box>
        <e:for-each select={user.links}>
            <a href={@value}>{@value}</a>
        </e:for-each>
    </content-box>

	<main id="app" class:hasUser={user}>
        <e:attribute class="abc" data-value={user.name} data-text="raw text value" />
        <e:switch>
            <e:case test={user.name}>
                <div>Hello, {user.name}</div>
            </e:case>
            <e:case test={access}>
                <div>Hello, user</div>
            </e:case>
            <e:default>
                <div>Access denied</div>
            </e:default>
        </e:switch>

        {{user.name}}
    </main>
</template>
